body {
    background-image: url("https://file.mk.co.kr/meet/yonhap/2021/10/23/image_readmed_2021_1004045_1_080111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
}

.l_container {
    display: inline-block;
    margin-left: 47%
}

.l_container a {
    text-decoration-line: none;
    color: black;
}

.l_container a:visited {
    text-decoration-line: none;
    color: black;
}

.l_container img {
    margin-left: 15.5%;
}

.l_container h1 {
    margin-top: -10%;
}

.loginbox {
    display: inline-block;
    margin-left: 40%;
}