.rate {
    display: block;
    position: relative;
    margin-left: 5%;
    margin-top: 0;
    width: 90%;
}

.rate p {
    font-size: 30px;
}

.wrap {
    position: relative;
    width: 1500px;
    padding: 0 15px;
}

.wrap .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.wrap .swiper-button-next {
    right: 50px;
}

.wrap .swiper-button-prev {
    left: 50px;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 1;
    background-size: 10px auto;
    transition: border-color 0.3s;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media only screen and (min-width: 460px) {
    .wrap {
        width: 100%;
    }
}