.rate {
    display: block;
    position: relative;
    margin-left: 5%;
    margin-top: 0;
    width: 90%;
}

.rate p {
    font-size: 30px;
}

.swiper-container {
    width: 100%;
    position: relative;
}

.swiper-wrapper {
    width: 100%;
}

.swiper-slide {
    width: 100%;
    height: 0;
    padding-bottom: 20%;
}

.swiper-slide .video-container {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 20%;
}

.swiper-slide .video-container iframe {
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    left: 1px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% auto;
}