.rate {
    display: block;
    position: relative;
    margin-left: 5%;
    margin-top: 0;
    width: 90%;
    padding-bottom: 46%;
}

.rate p {
    font-size: 30px;
}

.swiper-container {
    width: 640px;
    height: 360px;
    margin: 40px auto;
}